:root{
    --main-cplor:#d92123;
    --primary-text-color:#fff;
    --secondary-text-color:#191919;
    --secondary-color:#868686;
    --tertiary-color:#eff3f4;
    --secondary-color-bg-color:#5c1011;
}

*{
    font-family: "lato";
    padding:0;
    margin:0;
    box-sizing:border-box;
}

a{
    text-decoration:none;   
}


img{
    width: 100%;
}

/*id*/
#header{
    min-height: 90vh;
    background-image: url("../images/main_banner4.png");
    background-size: cover;
    background-position: center;
    color: var(--primary-text-color) ;
    margin-bottom: 2rem;
}

#inner-header{
    /* O DISPLAY COLOCO OS TEXTOS NA HORIZONTAL */
    display: flex; 
    /* O JUSTIFY-CONTENT É UM ALONHADOR E O SPACE BETWEEN SEPARA PARA AS EXTREMIDADES */
    justify-content: space-between; 
    /* ALINHA NA VERTICARL, EIXO Y */
    align-items: center;
}

#brand{
    background-color: var(--main-cplor);
    padding: 1rem;
}

#navbar{
    display: flex;
    gap: 2rem;
    text-transform: uppercase;
}

#navbar a {
    color: var(--primary-text-color);
    font-weight: bold;
    padding: 1rem;
}
